* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 /* zinc */
 --grey-50: #fafafa;
 --grey-100: #f4f4f5;
 --grey-200: #e4e4e7;
 --grey-300: #d4d4d8;
 --grey-400: #a1a1aa;
 --grey-500: #71717a;
 --grey-600: #52525b;
 --grey-700: #3f3f46;
 --grey-800: #27272a;
 --grey-900: #18181b;

 /* other colors */
 --black: #0f0e17;
 --white: #cccccd;

 /* vars */
 --backgroundColor: var(--grey-900);
 --textColor: var(--grey-400);
 --headingColor: var(--grey-300);
}

body {
 font-family: 'Manrope', sans-serif;
 background-color: var(--backgroundColor);
 color: var(--textColor);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 35vh;
}

h1 {
 color: var(--headingColor);
 transition: all 0.3s ease-out;
}

h1:hover {
 color: var(--grey-100);
}

h2 {
 margin-bottom: 10px;
}

a {
 text-decoration: none;
}

button {
 cursor: pointer;
 color: var(--grey-50);
 border: none;
 border-radius: 2px;
 padding: 15px;
 width: 150px;
 margin-bottom: 10px;
}

.top-buttons {
 display: flex;
 gap: 10px;
}

#increment {
 background-color: crimson;
}

#save {
 background-color: darkslateblue;
}

#clear {
 background-color: goldenrod;
}

#increment:hover {
 background-color: var(--grey-50);
 color: crimson;
 transition: all 0.3s ease-out;
}

#save:hover {
 background-color: var(--grey-50);
 color: darkslateblue;
 transition: all 0.3s ease-out;
}

#clear:hover {
 background-color: var(--grey-50);
 color: goldenrod;
 transition: all 0.3s ease-out;
}

/* text effect removed due to compatibility issues */

/* h1 {
 position: relative;
 display: inline-block;
 background: linear-gradient(to bottom, var(--grey-50) 70%, var(--grey-900) 60%, var(--grey-900) 100%);
 background-clip: text;
 color: transparent;
 transition: background 0.2s ease-out;
}

span {
 position: relative;
}

span:before {
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 height: 2px;
 background: var(--grey-50);
 bottom: 5px;
 transition: all 0.2s ease-out;
}

h1:hover {
 background-position: 0 10px;
}

span:hover:before {
 transform: translateY(10px)
} */