* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 35vh;
}

button {
 border: none;
 border-radius: 5px;
 padding: 20px;
}

#increment {
 background-color: #db0a13;
}

#save {
 background-color: #630356;
}

#clear {
 background-color: #fcde02;
}